.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

